-r biomed_knowledge_platform/requirements.txt
-r biomed_knowledge_platform/requirements-embeddings.txt
-r evaluation_metrics/requirements.txt
-r scheduler_pubmed/requirements.txt
-r tests/requirements.txt
-r scripts/requirements.txt
